# https://docs.github.com/en/actions/guides
# CI name , it will display on github's action page menu
name: SpringBootDemo
# trigger on which this CI should be run
on: # push operation is operate
  push:
    # here since my repository branch is named `main` , you should follow your own repository like `master`
    branches: [main]
# CI enviroment settings
env:
  STATE_RELEASE_VERSION: "1.0" # version
  TAG_NAME: "springcloudspider" #tag 只能小写开头
  java-version: "11"
jobs:
  build:
    name: 构建并生成docker image
    runs-on: ubuntu-latest # use latest ubuntu to run the job
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java-version }}
      - name: Build with Maven
        run:
          mvn clean package -DskipTests=true -Dmaven.javadoc.skip=true -B -V
      - name: show files
        run: ls -a
      - name: show spider files
        run: cd spider && ls -a
      - name: show spider/target files
        run: cd spider && cd target && ls -a